@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nunito";
    src: url("../src/assets/fonts/Nunito-VariableFont_wght.ttf");
}

@layer components {
    .optionbtn {
        @apply border border-white/50 px-2 rounded-sm text-white/50 hover:text-white hover:border-white active:bg-white/10 focus:outline-none focus:ring-1 focus:ring-sky-50/50;
    }
}

/* * {
    outline: solid 1px red;
} */